body {
  background-color: #ebe2f2;
  font-family: "Cairo", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
  border-bottom: 1px solid #000;
}
.nav {
  display: flex;
}
.nav li {
  margin-right: 1rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.logo img {
  width: 100px;
}
